/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
.display_none {
  display: none;
}
.copyRight p {
  margin-bottom: 0px !important;
}
header .uabb-cl-ul li h4 {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 0;
  text-transform: uppercase;
}
header .uabb-cl-ul li:last-child h4 a:first-child {
  display: none;
}
header ul.uabb-cl-ul li:nth-child(4) {
  /* margin-bottom: 0px !important;
	margin-left: auto !important; */
}
.product-plp-grid>.product-row>.col-lg-4>.fl-post-grid-post .product-grid.btn-grey>h4>span:nth-child(1){
  line-height: 18px!important;
}
header ul.uabb-cl-ul li:nth-child(1) {
  display: none !important;
}

header ul.uabb-cl-ul li:nth-child(3) {
  margin: 0 auto 10px !important;
}

header .phone.retailer {
  margin-top: -10px;
  display: block;
}
header .uabb-cl-ul {
  display: flex !important;
  align-items: center;
}
header .phone.retailer span {
  font-size: 15px !important;
  font-weight: 600 !important;
}
.gform_footer input {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  width: 200px !important;
  min-height: 45px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #a03330;
  border: 1px solid #a03330;
  font-weight: 600 !important;
}
.gform_footer input:hover {
  background: #323232;
  border: 1px solid #323232;
}

@-moz-document url-prefix() {
  .bx-wrapper .bx-loading {
    display: none !important;
  }
  .fl-builder-content .bx-wrapper .bx-viewport {
    overflow: visible !important;
  }
}
.custom_searchModule {
  display: none;
  z-index: 2;
  position: absolute;
  right: 20px;
  top: 140px;
  width: 100% !important;
  padding: 5px 20px;
}
.custom_searchModule .fl-row-content-wrap {
  padding: 20px !important;
}
#breadcrumbs {
  background: transparent !important;
  text-shadow: -1px 1px 5px #000 !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  position: absolute;
  top: 163px;
  z-index: 99;
  width: 100%;
}
#breadcrumbs a:hover {
  color: #f4f4f4 !important;
}

#breadcrumbs .breadcrumb_last {
  color: #f4f4f4 !important;
}
#responsive-menu-container #responsive-menu-additional-content .storename a {
  color: #fff !important;
}
.gfield .gfield_time_ampm {
  max-width: 60px !important;
}

.gfield .gfield_time_ampm > select {
  min-width: 100% !important;
  padding: 13.5px 5px !important;
}
.topBar .fl-col ul li ul.storename {
  display: inline-block !important;
}
.product-detail-layout-5 {
  padding-top: 60px;
}
.topBar .fl-col ul li ul.storename li {
  margin: 0px !important;
}
.gfield .ginput_container_time > input {
  padding: 15px 8px !important;
}
.gfield input[type="text"] {
  width: 100% !important;
}
.gfield {
  padding-right: 15px !important;
}
h1.fl-post-title {
  color: #000 !important;
}
.topBar .phone > a > span {
  font-size: 15px !important;
  font-weight: 600 !important;
}
.topBar a.phone span:before,
.topBar .phone > a > span:before {
  content: "\f095";
  font: normal normal normal 18px/1 FontAwesome;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 5px;
  vertical-align: middle;
}
.firefox .fl-content-slider .bx-loading {
  display: none !important;
}
.firefox .fl-content-slider .fl-slide {
  visibility: visible !important;
}
.custom_searchHeader .fl-icon:hover {
  cursor: pointer;
}
h1.fl-heading span {
  font-size: 72px !important;
}
.fl-post-image-beside {
  width: 100% !important;
}
.fl-post-image-beside img {
  width: 100% !important;
}
ul.gfield_checkbox li {
  text-align: left !important;
}
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type="checkbox"],
.gform_wrapper.gf_browser_chrome .gfield_radio li input[type="radio"] {
  margin-top: -1px !important;
}
.uabb-image-carousel .uabb-image-carousel-content .uabb-gallery-img {
  max-height: 200px !important;
}
.fl-content.fl-content-left.col-md-8,
.fl-sidebar.fl-sidebar-right.col-md-4 {
  margin-top: 190px;
  padding-top: 30px;
}
#responsive-menu-additional-content .phone span:before {
  content: "\f879";
  font-family: "Font Awesome 5 Free";
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-size: 14px;
  margin-right: 5px;
  font-weight: 900;
}
.gform_wrapper .gfield_time_hour i {
  margin-top: -3px !important;
}
.bx-wrapper .bx-pager {
  bottom: -26px !important;
}

body > img {
  display: none !important;
}
.gform_wrapper .gfield_time_hour input,
.gform_wrapper .gfield_time_minute input,
.gform_wrapper .gfield_time_ampm select {
  width: 100% !important;
  text-align: center;
}
.post-349396 .direction a {
  border-top-left-radius: 30px !important;
  border-top-right-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
}
.gform_wrapper li.hidden_label input {
  margin-top: 0px !important;
}
.button-wrapper-default > a {
  text-transform: uppercase !important;
}
.fl-main-content > .product-banner-img {
  background-color: rgba(0, 0, 0, 0.35) !important;
  background-blend-mode: multiply;
}
.store-opening-hrs {
  padding-left: 20px !important;
}
.custombanneralert {
  background-color: #db2a34 !important;
  font-size: 18px;
  padding: 10px;
  line-height: 1.4em;
}
/*Filter Select Design*/
.facetwp-selections ul:before {
  content: "Your Selection";
  font-weight: 700;
  font-size: 16px;
  border-bottom: 2px solid #630a0a;
  padding: 0px;
  width: 100% !important;
  position: relative;
  display: block;
  margin-bottom: 5px;
  color: #630a0a;
  padding: 5px 5px 5px 0px;
}
.facetwp-selections ul li .facetwp-selection-label {
  font-size: 14px;
  font-weight: 700;
  color: #000;
}

.facetwp-selections ul li .facetwp-selection-value {
  font-size: 14px;
  color: #000;
}

.facetwp-selections ul {
  padding-left: 0px;
  margin-bottom: 20px;
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #323232;
  border-top: 1px solid #fff;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #f5f5f5 !important;
  opacity: 0.7;
}

.moove-gdpr-button-holder > button.mgbutton {
  background-color: #a03330 !important;
  color: #fff !important;
  border-radius: 0px !important;
  font-family: Poppins,sans-serif !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  box-shadow: none !important;
  border: none !important;
}
.moove-gdpr-button-holder > button.mgbutton:hover {
  background: #000000 !important;
  color: #fff !important;
  text-transform: uppercase !important;
  border-color: #000000 !important;
}

#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li
  button {
  color: #000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon {
  background-color: #a03330 !important;
  border: 1px solid #fff !important;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  i:hover,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href] > u.change-settings-button {
  color: #fff !important;
  background-color: #000000 !important;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #000000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #a03330 !important;
  color: #fff !important;
  border: 0px !important;
  border-radius: 0px !important;
  font-family: Poppins,sans-serif !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #000000 !important;
  color: #fff !important;
  border: 0px !important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #a03330 !important;
}

.facet_wrap button,
.page-info .pagination_wrapper>div button, 
div#mm-product-list .facet_wrap button, 
.products-list .product-plp-grid.product-grid.swatch.facetwp-template1 .fl-button,
div#mm-product-details .product-detail-layout-6 .button-wrapper a, 
.row.search-row .posts_search_result .product-item a.fl-button, 
div#search-result-page .product-plp-grid  .product-item .fl-post-grid-post .fl-post-grid-text .fl-button {
    background: #a03330!important;
    color: #fff!important;
    border: none;
    text-transform: uppercase!important;
    border-radius: 5px;
}

.facet_wrap button:hover,
.page-info .pagination_wrapper>div button:hover, 
div#mm-product-list .facet_wrap button:hover, 
.products-list .product-plp-grid.product-grid.swatch.facetwp-template1 .fl-button:hover,
div#mm-product-details .product-detail-layout-6 .button-wrapper a:hover, 
.row.search-row .posts_search_result .product-item a.fl-button:hover, 
div#search-result-page .product-plp-grid  .product-item .fl-post-grid-post .fl-post-grid-text .fl-button:hover {
    background: #000000!important;
    color: #fff!important;
    border: none;
    border-radius: 5px;
    text-transform: uppercase!important;
}
.product-plp-grid > .product-row > .col-lg-4 > .fl-post-grid-post .product-grid.btn-grey>h4>span:first-child, 
.row.search-row .posts_search_result.post_list.product-grid.swatch h2, 
div#search-result-page .product-plp-grid .product-item .fl-post-grid-post .fl-post-grid-text h4>span:first-child{
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 14px !important;
    line-height: 1.2em;
    min-height: 34px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (device-height: 1024px) and (device-width: 768px) and (orientation: portrait) {
  .fl-row-full-height .fl-row-content-wrap {
    min-height: 600px !important;
  }
  .pPad > .fl-col-content {
    padding: 20px !important;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .pPad > .fl-col-content {
    padding: 20px !important;
  }
  h1.fl-heading span,
  h1.fl-heading {
    font-size: 55px !important;
  }
  .topBar .uabb-creative-link a {
    font-size: 12px !important;
  }
  .custom_searchModule {
    top: 180px;
  }
}
@media screen and (min-width: 992px) {
  .search-row {
    padding-top: 170px !important;
  }
  #fl-main-content > div > div > div.product {
    padding-top: 240px !important;
  }
  .search-row .fl-archive-header h1 {
    padding: 8px !important;
    color: #000 !important;
    margin-bottom: 10px !important;
    font-weight: 700;
  }
  .custombanneralert {
    margin-top: 160px;
  }
}
@media screen and (min-width: 960px) {
  .bx-viewport .fl-slide.fl-slide-3 .fl-slide-photo {
    margin-top: 300px;
  }

  .sHeading h1 span {
    font-size: 40px !important;
  }
  .fl-page-bar .storename .phone a {
    font-size: 14px !important;
  }
  .fl-page-bar-nav > li > a {
    padding: 2px 10px;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
  }
  .fl-page-bar .storename .phone a span:before {
    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px !important;
    font-size: 18px !important;
  }
  #djcustom-header {
    position: absolute !important;
    top: 30px !important;
  }
  .sub-menu a {
    color: #000 !important;
  }
}

@media screen and (max-width: 1024px) {
  ul#menu-copyright-bar-menu li a {
    padding: 14px 12px !important;
  }
}
@media screen and (max-width: 1023px) {
  header > .fl-row:first-child,
  header > .fl-row.fl-row-bg-gradient .fl-col-group .fl-col:nth-child(2) {
    display: none;
  }
  header > .fl-row.fl-row-bg-gradient .fl-col-group .fl-col {
    max-width: 100%;
  }
  header {
    position: static !important;
    background: #000;
  }
  header.fl-post-header {
    background: transparent;
  }
  header .uabb-photo.uabb-photo-align-center {
    text-align: left;
  }
  #responsive-menu-container #responsive-menu-search-box,
  #responsive-menu-container #responsive-menu-additional-content,
  #responsive-menu-container #responsive-menu-title {
    padding: 10px 5% !important;
  }
  .fl-content.fl-content-left.col-md-8,
  .fl-sidebar.fl-sidebar-right.col-md-4 {
    margin-top: 0px;
    padding-top: 0px;
  }
}
@media screen and (max-width: 992px) {
  #breadcrumbs {
    top: 140px !important;
  }
  h1 {
    line-height: 1.2em !important;
  }
  .search-row .fl-archive-header {
    background-color: #fff !important;
  }
  .search-row .fl-archive-header h1 {
    padding: 8px !important;
    color: #000 !important;
    margin-bottom: 10px !important;
    font-weight: 700;
  }
  ul#menu-copyright-bar-menu {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  .uabb-heading-wrapper h1.uabb-heading span {
    font-size: 72px !important;
  }
  .max-width-issue {
    max-width: 400px !important;
    margin: 0 auto !important;
  }
  ul#menu-flooring-menu,
  ul#menu-inspiration-menu,
  ul#menu-services,
  ul#menu-about-us {
    text-align: center;
  }
  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    padding: 0 !important;
  }
  .fl-slide-0 .fl-slide-foreground {
    position: absolute !important;
    top: 40%;
    left: 0;
    z-index: 1;
    right: 0;
  }
  .fl-slide-0 .fl-slide-foreground .fl-slide-content {
    background: transparent !important;
  }
  /* Slider height issue on mobile open */

  .fl-content-slider .fl-slide-bg-photo {
    position: absolute !important;
    min-height: 500px !important;
  }
  .fl-content-slider
    .fl-slide-foreground
    .fl-builder-content
    .fl-row
    > .fl-row-content-wrap {
    min-height: 500px;
  }
  .fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 500px !important;
    text-align: center !important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .fl-slide-mobile-photo > img {
    padding: 50px;
    max-height: 500px !important;
    width: auto;
    margin: 0 auto;
  }
  .fl-content-slider .fl-slide {
    min-height: 500px !important;
    max-height: 500px !important;
  }
  /* Slider height issue on mobile closed */
}

/* PLP Page Css iPad Air */
@media only screen and (max-width: 992px) {
  /* Slider height issue on mobile open */
  .fl-content-slider .fl-slide-bg-photo {
    position: absolute !important;
    min-height: 500px !important;
  }
  .fl-content-slider
    .fl-slide-foreground
    .fl-builder-content
    .fl-row
    > .fl-row-content-wrap {
    min-height: 500px;
  }
  .fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 500px !important;
    text-align: center !important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .fl-slide-mobile-photo > img {
    padding: 50px;
    max-height: 500px !important;
    width: auto;
    margin: 0 auto;
  }
  .fl-content-slider .fl-slide {
    min-height: 500px !important;
    max-height: 500px !important;
  }
  .fl-content-slider .fl-slide-bg-link {
    z-index: 2;
  }
  /* Slider height issue on mobile closed */

  /* Facet Filter CSS	- iPad */
  .facet_filters .close_bar {
    display: block;
  }
  #product-list-top-filters .fl-col-group .fl-col {
    width: 100% !important;
    text-align: center;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts,
  .facetwp-pager,
  .facetwp-per-page,
  .open_sidebar {
    text-align: center !important;
  }
  .facetwp-per-page-select {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .open_sidebar a {
    float: none !important;
  }
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar {
    background-color: #008c8c;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    display: block;
    margin-bottom: 20px;
  }
  .facet_filters .close_bar .close {
    float: right;
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
  }
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .facetwp-pager {
    float: none !important;
    margin-top: 10px;
  }
  /* Products List CSS - iPad */
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 33.33%;
    float: left;
    clear: none !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: left !important;
  }
  .product-row > div.col-md-3:nth-child(3n + 1) {
    clear: none !important;
  }
}
@media only screen and (max-width: 599px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 48%;
    clear: none !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: none !important;
  }
}
@media only screen and (max-width: 480px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 100%;
    clear: both !important;
  }
  #rmp_menu_trigger-1126122 {
    top: 89px !important;
  }
}
/* PLP Page Css iPad Air */

@media screen and (max-width: 450px) {
  .product-detail-layout-5 {
    padding-top: 100px;
  }
  .covid-banner {
    position: static !important;
  }
  #breadcrumbs {
    top: 160px !important;
  }
  header .uabb-photo-content .uabb-photo-img {
    width: 160px;
  }
  h1.fl-heading span,
  .uabb-heading-wrapper h1.uabb-heading span {
    font-size: 52px !important;
  }
  ul#menu-copyright-bar-menu {
    padding-bottom: 100px;
  }
  .fl-slide-0 .fl-slide-foreground {
    top: 30%;
  }
  button#responsive-menu-button {
    width: 40px !important;
    height: 40px !important;
    top: 27px !important;
  }
}
@media (max-width: 992px) {
  .fl-content-slider .fl-slide-bg-link {
    z-index: 9 !important;
  }
}
@media (max-width: 360px) {
  #rmp_menu_trigger-1126122 {
    top: 108px !important;
  }
}
 .facetwp-selections ul:before, div#mm-product-list .product-list-container .facet_filters strong {
    border-bottom: 2px solid #a03330 !important;
    color: #a03330 !important;
}